<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Site</title>
  </head>
  <body>
     <h1>Maintanance Page</h1>
     <p>This is maintanance page</p>
  </body>
  
</html>
