<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Site</title>
  </head>
  <body>
     {{>header}}
     <p>This is my portfolio page.</p>
  </body>
  {{>footer}}
</html>
